duckdb-ffi/src/Database/DuckDB/FFI.hs linguist-generated=true whitespace=-blank-at-eol
duckdb-ffi/src/Database/DuckDB/FFI/Compat.hs linguist-generated=true
duckdb-ffi/cbits/abi-checks.c linguist-generated=true
